header {
	left: 0px;
	width: 100%;
	height: 180px;
	background-color: #CEDDBB;
	position: fixed;
	text-align: center;
	top: 0;
	transition: all .5s ease;
	h1 {
		font-size: 45px;
		text-transform: uppercase;
		font-weight: 100;
		transition: all .5s ease;
		position: relative;
		top: 3px;
	}
	nav {
		position: absolute;
		bottom: 0;
		height: 60px;
		line-height: 60px;
		width: 100%;
		background-color: rgba(0,0,0,.1);
		a {
			color: #FFE0E9;
			font-size: 18px;
			display: inline-block;
			padding: 21px 20px;
			line-height: 1;
			text-decoration: none;
			border-radius: 2px;
		}
		a:hover {
			color: #FFE0E9;
		}
	}
}

@media (max-width: 1000px) {
	header {
		height: 200px;
		h1 {
			font-size: 58px;
			top: -12px
		}
		nav {
			height: 80px;
			line-height: 80px;
			a {
				font-size: 28px;
				padding: 24px 18px;
			}
		}
	}
	p {
		font-size: 28px;
	}
	body {
		transition: padding-top .5s ease;
		padding-top: 220px;
	}
	body.sticky {
		padding-top: 120px;
		transition: padding-top .5s ease;
		header{
			height: 80px;
			background-color: rgba(206, 221, 187, .9);
			h1 {
				font-size: 0px;
			}
		}
	}
	.phone {
		font-size: 28px;
	}
}

@media (min-width: 1001px) {
	body {
		padding-top: 200px;
		transition: padding-top .5s ease;
	}
	body.sticky{
		padding-top: 100px;
		transition: padding-top .5s ease;
		header{
			height: 60px;
			background-color: rgba(206, 221, 187, .9);
			h1{
				font-size: 0px;
			}
		}
	}
}
.recipePic {
  float: right;
}

.recipeTitle {
	margin-left: auto;
	margin-right: auto;
}

.aboutUs {
  margin-right: auto;
  margin-left: auto;
}

html {
	body {
		background-color: #434343;
		color: #f0f2f8;
	}
	h1 {
		color: #E8985E;
	}
	a {
		color: #FFE0E9;
		text-decoration: none;
	}
	a.other {
		color: #072AC8;
		text-decoration: none;
	}
}
//Color palette:
// Pale light blue: #c0d6df rgb(192, 214, 223)
// Off-white: #eaeaea rgb(234, 234, 234)
// Navyish: #4f6d7a rgb(79, 109, 122)
// Beige: #e8dab2 rgb(232, 218, 178)
// Orange: #dd6e42 rgb(221, 110, 66)


//Diff colors:
//Dark Red 490B3D
//Red BD1E51
//Yellow F1B814
//Pink F9D1D7

//More Colors:
//Red: B9375E
//Pink: FFE0E9
//Lime Green: CEDDBB
//Dark Grey: 434343
//Gold: BE9A60
//Orange: E8985E
//Blue: 072AC8