header {
  padding: 0;
	margin: 0;
	width: 100%;
	height: 180px;
	background-color: #3498db;
	text-align: center;
	vertical-align: middle;
	position: relative;
	position: fixed;
	top: 0;
	overflow: hidden;
}