@import "compass/css3";
@import "compass/reset";

*{
	@include box-sizing(border-box);
}

header {
	width: 100%;
	height: 150px;
	background-color: #3498db;
	text-align: center;
	vertical-align: middle;
	position: relative;
	position: fixed;
	top: 0;
	overflow: hidden;
	@include transition(all .5s ease);
}

nav {
	position: absolute;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: rgba(0,0,0,.1);
	a {
		color: #fff;
		display: inline-block;
		padding: 100px 15px;
		line-height: 1;
		text-decoration: none;
		@include border-radius(2px);
			&:hover{
				@include box-shadow(0 0 0 1px #fff);
			}
	}
}

body {
  	background-color: #ecf0f1;
	padding-top: 180px;
	@include transition(padding-top .5s ease)
}

p,
h1,
div,
ul,
li {
  	font-weight: bold;
}

.siteTitle {
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	@include transition(all .3s ease);
}

.recipePic {
  margin-right: 0px;
}

.aboutUs {
  margin-right: auto;
  margin-left: auto;
}
